body{
    text-align: center;
    color:white;
    font-family:monospace;
    background:white url(img/imagem\ do\ fundo\ 100.jpg);
    background-size: 270%;
    background-repeat: no-repeat;
    font-size: large;
    
}

.mainnav{
    background-color:transparent;
    
    
    
}

.mainnav li{
    display: inline;
    padding: 0 60px;
    font-size: 20px;
    
    

}

.mainnav li a {
    text-decoration: none;
    color:white;
    font-size: 20px;
}

.container {
    width: 500%;
    margin-left: 16%;
    background-color:transparent;
    
}



.tempo{
    margin-left: 15%;
    width: 70%;

}

.footer{
    background-color:transparent;
    margin-left:4%;
    font-size: 150%;
   

}

.figure.passeios{
    display: inline-block;
    
}

.tamanho{
    width: 250px;
    height: 180px;
}
.grupo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 60%;
    margin-left: 19%;
    text-align: left;
    padding: 2%;

}
.cx_txt{
    resize: none;
    width: 500px;
}
.font_maior{
    font-size: 18px;
}
.logo{
    width: 150px;
    height: 100px;
    float: right;
   color: darkcyan;
   font-size: x-large;
   
  
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 0%;
    
}
.tamanho{
    width: 800px;
    height: 500px;
    margin-left: 0%;
    border-radius: 20px;

}
.row{
    align-items:normal;
}
.fluta{ 
    width: 800px;
    height: 450px;
   


}
.horarios2{
    width: 800px;
    height: 850px;

}
.mb-3{
    margin-right: 30%;
}
.texto{
    margin-right: 30%;
    color:darkcyan;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.form-label{
    color:cadetblue;
}
.mt4{
    margin-right: 30%;
    color: darkcyan;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.frente{
    border-radius: 40px;

}
.fluta{
    border-radius: 50px;
}
.btn btn-primary{
    margin-left: 50%;
}
.foot{
    width: 500px;
    height: 350px;
    border-radius: 40px;
    margin-left: -60%;
   
}
.description{
    font-size: 20px;
    color: white;
    font-family:monospace
    
}
.btn btn-primary{
    transition: 0.5s;
}

    
